@import url("normalize.css");

/*Overwrite rule from normalize.css*/
input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*Used for changing image on search page (black/green)*/
.img-checkbox, .img-checkbox ~ label > img ~ img {
    display:none;
}
.img-checkbox:checked ~ label > img {
    display:none;
}
.img-checkbox:checked ~ label > img ~ img{
    display:block;
}
.img-checkbox ~ label {
    display: block;
}

/* xxs css for extra small devices < 320px*/
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.form-control {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #F2F2F2;
    border-radius: 4px;
    padding: 5px 2px 5px 2px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: #66a34d;
    background-color: #F2F2F2;

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px rgba(12, 115, 233, .5);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px rgba(12, 115, 233, .5);
}
.container-fluid {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}
.fill {
    width: 100%;
}
.no-display{
    display: none;
}
.row {
    padding-top: 10px;
}
.col-xxs-80 {
    width: 80%;
}
.col-xxs-10 {
    width: 10%;
}
.col-xxs-100 {
    width: 100%;
}
.margin-left-xxs-3 {
    margin-left: 3%;
}
.margin-left-xxs-30 {
    margin-left: 30%;
}
.margin-left-xxs-15 {
    margin-left: 15%;
}
.margin-top-xxs-10 {
    margin-top: 10vh;
}
.margin-top-xxs-2 {
    margin-top: 2%;
}
.margin-top-xxs-25 {
    margin-top: 25%;
}
.margin-top-xxs-30 {
    margin-top: 30%;
}
.float-left {
    float: left;
}
p {
    margin: 0 0 10px;
    font-size: 15px;
    font-weight: 200;
}
h5 {
    margin: 0 0 10px;
}


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .margin-top-xs-5 {
        margin-top: 5%;
    }
    .margin-top-xs-1 {
        margin-top: 1%;
    }
    .col-xs-10 {
        width: 10%;
    }
    .col-xs-70 {
        width: 70%;
    }
    .col-xs-7 {
        width: 7%;
    }
}

@media only screen and (min-width : 480px) and (orientation: landscape) {
    .col-xs-70 {
        width: 60%;
    }
    .col-xs-7 {
        width: 10%;
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .margin-top-sm-15 {
        margin-top: 15%;
    }
    .margin-top-sm-2 {
        margin-top: 2%;
    }

    .col-xs-7 {
        width: 7%;
    }
    h5 {
        font-size: 1em;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .margin-top-md-10 {
        margin-top: 10%;
    }

    .margin-top-md-1 {
        margin-top: 1%;
    }

    h5 {
        font-size: 1.2em;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .margin-top-lg-5 {
        margin-top: 5%;
    }
    .margin-left-lg-5 {
        margin-left: 5%;
    }

    .col-lg-5 {
        width: 5%;
    }
    h5 {
        font-size: 1.2em;
    }
}



