<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="/resources/css/about.css" rel="stylesheet">
    <title>About Semantic Web Search</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <h2>Semantic Web Search</h2>
            <h4>Ghid de utilizare</h4>
        </header>
        <section id="body">
            De pe pagina principala reprezentata in figura 1, se poate alege tipul cautarii: text, poze, video sau harti,
            apoi se insereaza cuvintele cheie pentru cautare.
            //img front

            Dupa introducerea textului, la o secunda diferenta, se vor afisa rezultatele. Daca la primul pas au fost selectate
            cel putin 2 tipuri de cautare, modalitatea de afisare va fi una de tip grid. Daca s-a selectat doar un tip, rezultatele se vor afisa liniar.
            //img ambele modalitati de afisare

            Dupa afisarea rezultatelor, prin apasarea unui buton (sageata jos) se va afisa un meniu din care se poate
            selecta modalitatea de afisare. Tot de aici se pot filtra datele in functie de tipul lor (img, text, video, harti)
            //img cu meniu

            Fiecare raspuns afisat pune la dispozitia utilizatorului o modalitate de oferi feedback, prin cele 2 butoane de like/dislike.
            Totodata, utilizatorul are posibilitatea sa 'pin'-uiasca raspunsurile care ii se par folositoare pentru o vizualizare ulterioara.
            //img cu top


        </section>
    </div>
</body>
</html>