<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Semantic Web Search</title>
    <link href="/resources/css/main.css" rel="stylesheet">
</head>
<body>
    <div class=" margin-top-xxs-10 col-xs-70 container-fluid">
        <div class="item">
            <img class="col-xxs-2 pinnable" src="/resources/img/icons/pin.png" alt="Pin this" title="Pin this" />
            Item 1
        </div>
        <div class="item">
           <img class="col-xxs-2 pinnable" src="/resources/img/icons/pin.png" alt="Pin this" title="Pin this" />
            Item 2
        </div>
        <div class="item">
            <img class="col-xxs-2 pinnable" src="/resources/img/icons/pin.png" alt="Pin this" title="Pin this" />
            Item 3
        </div>
        <div class="item">
            <img class="col-xxs-2 pinnable" src="/resources/img/icons/pin.png" alt="Pin this" title="Pin this" />
            Item 4
        </div>
        <div class="item">
            <img class="col-xxs-2 pinnable" src="/resources/img/icons/pin.png" alt="Pin this" title="Pin this" />
            Item 5
        </div>
        <div class="item">
            <img class="col-xxs-2 pinnable" src="/resources/img/icons/pin.png" alt="Pin this" title="Pin this" />
            Item 6
        </div>
        <div class="item">
            <img class="col-xxs-2 pinnable" src="/resources/img/icons/pin.png" alt="Pin this" title="Pin this" />
            Item 7
        </div>
        <div class="item">
            <img class="col-xxs-2 pinnable" src="/resources/img/icons/pin.png" alt="Pin this" title="Pin this" />
            Item 8
        </div>
        <div class="item">
            <img class="col-xxs-2 pinnable" src="/resources/img/icons/pin.png" alt="Pin this" title="Pin this" />
            Item 9
        </div>
        <div class="item">
            <img class="col-xxs-2 pinnable" src="/resources/img/icons/pin.png" alt="Pin this" title="Pin this" />
            Item 10
        </div>
        <div class="item">
            <img class="col-xxs-2 pinnable" src="/resources/img/icons/pin.png" alt="Pin this" title="Pin this" />
            Item 11
        </div>
        <div class="item">
            <img class="col-xxs-2 pinnable" src="/resources/img/icons/pin.png" alt="Pin this" title="Pin this" />
            Item 12
        </div>

    </div>
    <button onclick="Result.nextPin()">Next</button>
    <button onclick="Result.previousPin()">Previous</button>
    <script src="/resources/js/lib/jquery-2.1.3.min.js"></script>
    <script src="/resources/js/mynamespace.js"></script>
    <script>

        //maybe move this in constructor?
        $('.pinnable').click(function(){
            Result.pin(this);
        });

    </script>
</body>
</html>