<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Semantic Web Search!</title>
	<link rel="stylesheet" href="./../resources/css/styles.css">
</head>
<body>
	<header id="header" class="center">
		<section class="layout">
			<div class="img-logo">
				<img src="./../resources/img/logo-lg.png" alt="Semantic Web Search!">
			</div>
			<div class="search-content">
				<section class="search-form">
					<!--action="/rest/query"-->
					<form id="searchForm"  method="GET" onsubmit="Ajax.demo();return false;" class="search">
						<input id="search-input" type="search">
						<input type="submit" value="Submit" id="_search">
						<label for="_search"><i class="fa fa-search"></i></label>
					</form>
				</section>
				<section class="search-option">
					<div class="search-type">
						<ul class="search-type-list">
							<li><p>Look for:</p></li>
							<li><input type="checkbox" id="Text" name="Text"></input><label for="Text"><i class="fa fa-file-text-o"></i></label></li>
							<li><input type="checkbox" id="Images" name="Images"></input><label for="Images"><i class="fa fa-picture-o"></i></label></li>
							<li><input type="checkbox" id="Video" name="Video"></input><label for="Video"><i class="fa fa-youtube-play"></i></label></li>
							<li><input type="checkbox" id="Map" name="Map"></input><label for="Map"><i class="fa fa-globe"></i></label></li>
						</ul>
					</div>
					<div class="layout-option">
						<ul class="search-type-list">
							<li><p>Display as:</p></li>
							<li><input type="checkbox"," id="List" name="List"></input><label for="List"><i class="fa fa-list"></i></label></li>
							<li><input type="checkbox"," id="Grid" name="Grid"></input><label for="Grid"><i class="fa fa-th-large"></i></label></li>
						</ul>
					</div>
				</section>
			</div>
			<div id="toggler" class="clearfix">
				<input type="checkbox" id="toggle" name="toggle">
					<label for="toggle"><i class="fa fa-angle-double-up"></i></label>
				</input>
			</div>
		</section>
	</header>
	<main id="main" class="layout grid">

	</main>
	<footer>
		<div id="pinAction" class="pinAction no-display">
            <img id="prev" src="./../resources/img/icons/previous.png" onclick="layoutManager.pinManager.previousPin()">
            <img id="next" src="./../resources/img/icons/next.png" onclick="layoutManager.pinManager.nextPin()">
        </div>
	</footer>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
    <script src="./../resources/components/js/script.js"></script>
    <script type="text/javascript" src="./../resources/js/lib/handlebars-v2.0.0.js"></script>
    <script src="./../resources/js/lib/masonry.pkgd.min.js"></script>

    <script type="text/x-handlebars-template" id="person-template">
		{{#each answer}}
			<div class="answer">
				<header class="answer-top">
					<div class="icon-link">
						<!-- text-o /picture-o  /youtube-play /globe-->
						<h1 class="title">{{name}}</h1>
					</div>
					<div class="answer-option">

					</div>
				</header>
				<div class="answer-content">
                    <article>
                        <h4>Birthdate:</h4> {{birthdate}}
                    </article>

                    <article>
                        <h4>Birthplace:</h4>
	                        {{#ifEqual birthplace.key ""}}
	                            {{birthplace.value}}
	                        {{else}}
	                        	<a href="{{birthplace.key}}" class="innerCall">{{birthplace.value}}</a>
	                        {{/ifEqual}}
                    </article>

                    <article>
                        <h4>Children:</h4>
                        {{#each children}}
                            {{#ifEqual key ""}}
                                {{value}}
                            {{else}}
                                <a href="{{key}}" class="innerCall">{{value}}</a>
                            {{/ifEqual}}

                        {{/each}}
                    </article>

                    <article>
                        <h4>Deathdate:</h4> {{deathdate}}
                    </article>

                    <article>
                    	<h4>Notable for:</h4> {{notableFor}}
                    </article>

					<article>
                    	<h4>Short description:</h4> {{shortDescription}}
                    </article>

                    <article>
                        <h4>Description:</h4> <p>{{description}}</p>
                    </article>

                    <article>
                        <h4>Education:</h4>
                        {{#each education}}
                            {{#ifEqual key ""}}
                                {{value}}
                            {{else}}
                                <a href="{{key}}" class="innerCall">{{value}}</a>
                            {{/ifEqual}}
                        {{/each}}
                    </article>

                    <article>
                        <h4>Nationality:</h4>
                        {{#each nationality}}
                            {{#ifEqual key ""}}
                                {{value}}
                            {{else}}
                                <a href="{{key}}" class="innerCall">{{value}}</a>
                            {{/ifEqual}}
                        {{/each}}
                    </article>

                    <article>
                        <h4>Parents:</h4>
                        {{#each parents}}
                            {{#ifEqual key ""}}
                                {{value}}
                            {{else}}
                                <a href="{{key}}" class="innerCall">{{value}}</a>
                            {{/ifEqual}}
                        {{/each}}
                    </article>

                    <article>
                        <h4>Spouse:</h4>
                        {{#each spouse}}
                            {{#ifEqual key ""}}
                                {{value}}
                            {{else}}
                                <a href="{{key}}" class="innerCall">{{value}}</a>
                            {{/ifEqual}}
                        {{/each}}
                    </article>
                    <article>
						<a href="{{wikiPageExternal}}">wiki page</a>
					</article>
                    <article>
                        <h3>Thumbnails:</h3>
                        <div class="pixgrid">
                        {{#each thumbnails}}
                            <img src="{{this}}"/>
                        {{/each}}
                        </div>
                    </article>
				</div>
			</div>
		{{/each}}
	</script>
	<script type="text/x-handlebars-template" id="weapon-template">
		{{#each answer}}
			<div class="answer">
				<header class="answer-top">
					<div class="icon-link">
						<h1 class="title">{{name}}</h1>
					</div>
					<div class="answer-option">

					</div>
				</header>
				<div class="answer-content">
					<article>
						<h4>Caliber:</h4> {{caliber}}
					</article>
					<article>
						<h4>Description:</h4>
						<p>{{description}}</p>
					</article>
					<article>
						<h4>Designer:</h4>
						{{#ifEqual designer.key ""}}
                            {{designer.value}}
                        {{else}}
                            <a href="{{designer.key}}" class="innerCall">{{designer.value}}</a>
                        {{/ifEqual}}
					</article>
					<article>
						<h4>Length:</h4> {{length}}
					</article>
					<article>
						<h4>Origin</h4>
						{{#ifEqual origin.key ""}}
                            {{origin.value}}
                        {{else}}
                            <a href="{{origin.key}}" class="innerCall">{{origin.value}}</a>
                        {{/ifEqual}}
					</article>
					<article>
						<h4>Service:</h4> {{service}}
					</article>
					<article>
						<h4>Weight:</h4> {{weight}}
					</article>
					<article>
						<h4>Page:</h4> <a href="{{wikiPageExternal}}">wiki page</a>
					</article>
					<article>
                    	<h3>Thumbnails:</h3>
                        <div class="pixgrid">
	                        {{#each thumbnails}}
	                            <img src="{{this}}"/>
	                        {{/each}}
                        </div>
                	</article>
				</div>
			</div>
		{{/each}}
	</script>
	<script type="text/x-handlebars-template" id="conflict-template">
		{{#each answer}}
			<div class="answer">
				<header class="answer-top">
					<div class="icon-link">
						<h1 class="title">{{name}}</h1>
					</div>
					<div class="answer-option">

					</div>
				</header>
				<div class="answer-content">

					<article>
						<h4>Date:</h4> {{date}}
					</article>
					<article>
						<h4>Combatants:</h4>
						{{#each combatants}}
							{{#ifEqual key ""}}
                            	{{value}}
                        	{{else}}
                            	<a href="{{key}}" class="innerCall">{{value}}</a>
                        	{{/ifEqual}}
						{{/each}}
					</article>
					<article>
						<h4>Place:</h4>
						{{#each place}}
							{{#ifEqual key ""}}
                            	{{value}}
                        	{{else}}
                            	<a href="{{key}}" class="innerCall">{{value}}</a>
                        	{{/ifEqual}}
						{{/each}}
					</article>

					<article>
						<h4>Result:</h4> {{result}}
					</article>
						<h4>Commanders:</h4>
						{{#each commanders}}
							{{#ifEqual key ""}}
                            	{{value}}
                        	{{else}}
                            	<a href="{{key}}" class="innerCall">{{value}}</a>
                        	{{/ifEqual}}
						{{/each}}
					<article>
					</article>
						<h4>Casualties:</h4>
						<ul>
						{{#each casualties}}
							<li>
							{{#ifEqual comatant.key ""}}
                            	{{comatant.value}}	|	{{casualties}}	|	{{casualtyType}}
                        	{{else}}
                            	<a href="{{comatant.key}}" class="innerCall">{{comatant.value}}</a>	|	{{casualties}}	|	{{casualtyType}}
                        	{{/ifEqual}}
                        	</li>
						{{/each}}
						</ul>
					<article>
					</article>
					<article>
						<h4>Part of:</h4>
						{{#each partOf}}
							{{#ifEqual key ""}}
                            	{{value}}
                        	{{else}}
                            	<a href="{{key}}" class="innerCall">{{value}}</a>
                        	{{/ifEqual}}
						{{/each}}
					</article>



					<article>
						<h4>Description:</h4>
						<p>{{description}}</p>
					</article>
					<article>
						<h4>Page:</h4> <a href="{{wikiPageExternal}}">wiki page</a>
					</article>
					<article>
                    	<h3>Thumbnails:</h3>
                        <div class="pixgrid">
	                        {{#each thumbnails}}
	                            <img src="{{this}}"/>
	                        {{/each}}
                        </div>
                	</article>

				</div>
			</div>
		{{/each}}
	</script>

	<script type="text/x-handlebars-template" id="album-template">
		{{#each answer}}
			<div class="answer">
				<header class="answer-top">
					<div class="icon-link">
						<h1 class="title">{{name}}</h1>
					</div>
					<div class="answer-option">

					</div>
				</header>
				<div class="answer-content">

					<article>
						<h4>Release date:</h4> {{releaseDate}}
					</article>

					<article>
						<h4>Genre:</h4> {{genre}}
					</article>

					<article>
						<h4>Album length:</h4> {{length}}
					</article>

					<article>
						<h4>Track list:</h4>
						<ul>
						{{#each trackList}}
							<li>
							{{#ifEqual key ""}}
                            	{{value}}
                        	{{else}}
                            	<a href="{{key}}" class="innerCall">{{value}}</a>
                        	{{/ifEqual}}
                        	</li>
						{{/each}}
						</ul>
					</article>

					<article>
						<h4>Description:</h4>
						<p>{{description}}</p>
					</article>
					<article>
						<h4>Page:</h4> <a href="{{wikiPageExternalLink}}">wiki page</a>
					</article>
					<article>
                    	<h3>Thumbnails:</h3>
                        <div class="pixgrid">
	                        {{#each thumbnails}}
	                            <img src="{{this}}"/>
	                        {{/each}}
                        </div>
                	</article>

				</div>
			</div>
		{{/each}}
	</script>

</body>
</html>