<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Semantic Web Search</title>

    <link href="/resources/css/search.css" rel="stylesheet">
</head>
<body>

    <div id="contentWrapper" class="container-fluid">

        <div id="topSection" class="margin-top-xxs-10">

            <div id="logoImg">

                <img id="SemanticWebSearchImg" class="img-responsive container-fluid" src="/resources/img/semantic_search.jpg" alt="Semantic Web Search" />

            </div> <!-- end logoImg -->

            <div id="searchBar">

                <input id="searchInput" class="form-control container-fluid" type="search" />

            </div> <!-- end searchBar -->

        </div><!-- end topSection -->

        <div id="midSection">

            <div id="parser"></div><!-- end parser -->
            <div id="dataManage">

                <div id="lookFor"></div><!-- end lookFor -->

                <div id="displayAs"></div><!-- end displayAs -->

            </div><!-- end dataManag -->

        </div><!-- end midSection -->

        <div id="botSection"></div><!-- end botSection -->

    </div><!-- end wrapper -->

</body>
</html>